body {
	background: #0f0f0f;
	font-size:20px;
	line-height:1.125em;
	font-family: Georgia, "Times New Roman", Times, serif;
}


/* NAVIGATION */
#indnav {
	font-size: 1em;
	width: 100%;
}

#indnav ul {
	border: 0px;
	padding: 0px 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
}

#indnav ul li a:hover{
	color: black;
	text-decoration:underline;
}

@media screen and (max-width: 800px) {
	#nav-container{
		width: 100%;
		padding-top: 20px;
	}
	#indnav ul li {
		display: inline;
		padding-bottom: 10px;
		font-size: 1em;
	}
	
	#indnav ul li a {
		color: bisque;
		padding: 3px 6px 3px 3px;
		margin: 0;
		text-decoration: none;
	}

	#indnav ul li a:hover,
	#indnav ul li a:active {
		color: white;
		text-decoration: none;
	}
}

@media screen and (min-width: 801px) {
	#nav-container{
		width:656px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 5px;
	}
	#indnav ul li{
		display: inline;
		padding-bottom: 10px;
		font-size:.70em;
	}
	
	#indnav ul li a {
		color: #000000;
		padding: 3px 6px 3px 3px;
		margin: 0;
		text-decoration: none;
	}
}

	

/* Layout */
@media (max-width: 800px) {
	#header::after {
		content: "The Unpronounceable";
		display: flex;
		color: bisque;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 50px;
		margin-top: 50px;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 2em;
	}
	#fullwidth_container {
		width: 100%;
		/* background-color: bisque; */
		color: bisque;
		margin: 0px auto;
		padding: 0px;
	}
	#content-container,
	#container-1 {
		width: 100%;
		margin: 0 auto;
	}
	#album-content {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-top:5px;
	}
	.blurb_justified {
		margin: 0;
		padding: 20px;
	}
	
	p.download_link.small {
		color: bisque;
	}
	p.download_link.small a {
		color: bisque;
	}
	p.download_link.small a:visited {
		color: white;
	}
	p.download_link.small a:active {
		color: antiquewhite;
	}
	p.album_blurb.small,
	p.blurb.small {
		text-align:center;
		 font-size: .80em;
		font-style: normal;
		padding-top: 5px;
		margin-left: 80px;	
		margin-right: 80px;
		padding-right: 0px;
	}
	p.album_blurb.small a,
	p.blurb.small a {
		color: bisque;
	}
	p.album_blurb.small a:hover,
	p.blurb.small a:hover {
		color: white;
		background-color: black !important;
	}
	p.album_blurb.small a:hover,
	p.blurb.small a:hover {
		color: white;
		text-decoration:underline;
		background-image:url(images/elements/link-color.jpg);
	}
}

@media (min-width: 801px) {
	#header {
		width: 656px;
		height: 159px;
		background-image:url(images/elements/header.jpg);
		margin-right: auto;
		margin-left: auto;
	}
	#fullwidth_container {
		width: 100%;
		background:url(images/elements/content-background.jpg) repeat-y scroll center;
		margin: 0px auto;
		padding: 0px;
	}
	#content-container {
		width: 656px;
		background: url(images/elements/content-background.jpg);
		margin-right: auto;
		margin-left: auto;
	}
	#container-1 {
		width: 656px;
		margin-right: auto;
		margin-left: auto;
		background-image:url(images/elements/content-background.jpg);
		background-repeat:repeat-y;
	}
	#page-content {
		margin-right: auto;
		margin-left: auto;
		padding-top:5px;
	}
	
	#album-content {
		width: 600px;
		margin-right: auto;
		margin-left: auto;
		padding-top:5px;
	}
}

@media screen and (max-width: 474px) {
	.albums.small a {
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	.albums a img {
		max-width: 80%;
		width: 80%;
	}
}


#footer {
	padding: 20px 0 20px 0;
	margin-right: auto;
	margin-left: auto;
	font-size: 1em;
}


/* Content */
.albums {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: row;
}
.albums a {
	text-decoration: none !important;
	width: 30%;
	display: block;
	flex: 0 1 auto;
	max-width: 30%;
	padding: 0 8px 8px;
	text-align: center;
}
.albums a:hover,
.albums a:focus,
.albums a:active {
	text-decoration: none !important;
}
.albums a img {
	text-decoration: none !important;
	max-width: 100%;
	transition: 0.5s all ease-in-out;
}
.albums a:hover img,
.albums a:focus img,
.albums a:active img {
	transform: rotate(5deg);
	transition: 0.5s all ease-in-out;
	outline: 1px solid black;
}

/* Typography */
#header h1 {
	visibility: hidden;
}
h1 {
	text-align:Left;
 	font-size: .95em;
	font-style: normal;
	padding-top: 15px;
	background-image:url(../images/h1-underline.gif);
	background-repeat:no-repeat;
	background-position:left;
}
h2 {
	background-repeat:no-repeat;
 	font-size: .80em;
	font-style: normal;
	font-style:italic;
	text-align: center;
	margin: 30px auto 0 auto;
	padding: 0;
}
h3 {
	background-repeat:no-repeat;
 	font-size: .80em;
	font-weight: bold;
	padding-top: 15px;
	margin-left: 10px;
}
p.albums {
	text-align:center;
}
p.tracklist {
	text-align:left;
 	font-size: .70em;
	font-style: normal;
	padding-top: 7px;
	margin-left: 0px;	
	padding-right: 10px;
	margin-bottom: 0px;
}	
p.tracklist a {
	color: #000000;
	text-decoration: underline;
}
p.tracklist a:hover {	
	color: black;
	text-decoration:underline;
	background-image:url(images/elements/link-color.jpg);
}	
p.bio {
	text-align: justify;
 	font-size: .70em;
	font-style: normal;
	padding-top: 5px;
	margin-left: 80px;	
	margin-right: 80px;
	padding-right: 0px;

}
p.blurb_justified {
	text-align: justify;
 	font-size: .80em;
	font-style: normal;
	margin: 0 auto;
	padding: 0 16px 16px;

}
p.blurb {
	text-align: center;
 	font-size: .80em;
	font-style: normal;
	padding-top: 5px;
	margin-left: 80px;	
	margin-right: 80px;
	padding-right: 0px;
}
p.blurb a {
	color: #000000;
	text-decoration: underline;
}
p.blurb a:hover {	
	color: black;
	text-decoration:underline;
	background-image:url(images/elements/link-color.jpg);
}
p.album_blurb {
	text-align:center;
 	font-size: .70em;
	font-style: normal;
	padding-top: 5px;
	margin-left: 80px;	
	margin-right: 80px;
	padding-right: 0px;
}
p.album_blurb a {
	color: #000000;
	text-decoration: underline;
}
p.album_blurb a:hover {	
	color: black;
	text-decoration:underline;
	background-image:url(images/elements/link-color.jpg);
}
p.download_link {
	text-align: center;
 	font-size: .8em;
	line-height: 1.5em;
}
p.download_link a {
	color: #000000;
}
p.download_link a:hover {	
	color: #000000;
	text-decoration:underline;
	background-image:url(images/elements/link-color.jpg);
}
p.download_link a:visited {	
	color: #000000;
	text-decoration:underline;
	background-image:url(images/elements/link-color.jpg);
}
p.footer {
	text-align:center;
 	font-size: .55em;
	font-style: normal;
	padding-top: 15px;
	margin-left: 15px;	
	padding-right: 20px;
	margin-bottom: 0px;
}
