
body {
  padding:2px;
}
.splash {
	max-width:100%;
	height:25%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20%;
  background-size:cover;
  max-width:100%;
	z-index:1;
  text-align: center;
}
.splash img {
  max-width:100%;
  width:auto;
  transition:1s all;
}
@media screen and (max-width: 480px) {
  .splash  {
    height:auto;
    /*transform:rotate(-45deg);*/
    max-height:40%;
    top:0px;
    transition:1s all;
    max-width:100%;
    /*transform:rotate(90deg);*/
    transition:1s all;
    font-size:.75rem;
    margin-top:45%;

  }
}

.experience {
  text-align: center;
  padding:0%;
}
.experience h1 {
	font-size:1.2rem;
	margin:0 auto 10px auto;
	color:#324C7E;
}
.experience h2 {
	font-size:1rem;
	margin:0 auto 10px auto;
	color:#324C7E;
}
.experience ul {
	text-align: center;
	list-style-type: none;
	margin:0;
	padding:0px;
}
.experience ul li {
	margin:1px;
	padding:1px;
}
.experience ul li a {
	color:#324C7E;
	transition:.5s all;
}
.experience ul li a:hover {
	color:#000;
}
